
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    @*<a asp-controller="home" asp-action="Index">Home</a>
    <a asp-controller="about" asp-action="Index">About</a>
    <a asp-controller="blog" asp-action="Index">Blog</a>*@


    @RenderBody()

</body>
</html>