@model Group
@{ 
    ViewData["Title"] = "Detail";
}

<h2>Car Models</h2>

<a  href="https://turbo.az/autos/6733390-mercedes-e-300">@Model.Model</a>
<a  href="https://turbo.az/autos/6649179-audi-a7-sportback">@Model.Model1</a>
<a  href="https://turbo.az/autos/6768428-hyundai-venue">@Model.Model2</a>


